<!DOCTYPE html>
<html>
  <head>
    <%- include('headerStuff') %>
  </head>
  <body>
    <%- include('pageHeader') %>
    <div class="row">
      <div class="col-xs-12">
        <% if (user) { %>
        <form autocomplete="off" method="POST" action="/notes/save">
          <input
            type="hidden"
            name="docreate"
            value="<%= docreate ? 'create' : 'update'%>"
          />
          <div class="form-group">
            <label for="notekey"> Key</label> <% if (docreate) { %>
            <input
              class="form-control"
              type="text"
              name="notekey"
              value=""
              placeholder="key"
              required
            />
            <% } else { %> <%= note ? notekey : "" %>
            <input
              class="form-control"
              type="hidden"
              name="notekey"
              value="<%= note ? notekey : '' %>"
            />
            <% } %>
          </div>

          <div class="form-group"
            ><label for="title"> Title </label>
            <input
              class="form-control"
              type="text"
              name="title"
              placeholder="note title"
              value="<%= note ? note.title : '' %>"
              required
            />
          </div>

          <div class="form-group">
            <textarea
              class="form-control"
              rows="5"
              name="body"
              placeholder="Your notes here..."
              required
            >
              <%= note ? note.body : "" %></textarea
            >
          </div>
          <input class="btn btn-default" type="submit" value="Submit" />
        </form>
        <% } else { %><% include('not-logged-in') %><% } %>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>

